<%= form_with(model: door_log, local: true) do |form| %>
  <% if door_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(door_log.errors.count, "error") %> prohibited this door_log from being saved:</h2>

      <ul>
      <% door_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sesame_device_id %>
    <%= form.text_field :sesame_device_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :before_door_status %>
    <%= form.text_field :before_door_status %>
  </div>

  <div class="field">
    <%= form.label :after_door_status %>
    <%= form.text_field :after_door_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
