<%= form_with(model: nfc_card, local: true) do |form| %>
  <% if nfc_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nfc_card.errors.count, "error") %> prohibited this nfc_card from being saved:</h2>

      <ul>
      <% nfc_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :uid %>
    <%= form.text_field :uid %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :is_activated %>
    <%= form.text_field :is_activated %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
